<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <title>Burguer</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo"><p>Gourmet au Catering</p></div>
            <ul class="nav-list">
                <li><a href="/">About</a></li>
                <li><a href="/">Menu</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="sessao1">
            <img src="https://www.w3schools.com/w3images/hamburger.jpg" alt="Imagem da comida">
            <div class="img-legend"><h1>Le Catering</h1></div>
        </section>
        <section class="sessao2">
            <div id="img-sessao2"><img src="https://www.w3schools.com/w3images/tablesetting2.jpg" alt="Imagem de comida"></div>
            <div class="sessao2-conteudo">
                <h1>About Catering</h1> <br>
                <h2>Tradition since 1889</h2> <br>
                <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </section>
        <section></section>
        <aside></aside>
    </main>
    <footer></footer>
</body>
</html>